<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artifect.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @artifect.key %>
</p>

<p>
  <strong>Project:</strong>
  <%= @artifect.project %>
</p>

<%= link_to 'Edit', edit_artifect_path(@artifect) %> |
<%= link_to 'Back', artifects_path %>
